/* color == 050229 */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
    --typewriterSpeed: 1s;
    --typewriterChars: 5;
    --bg-color: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.container-fluid{
    padding: 3% 5%;
}

/* Styling the Navbar */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
    border-radius: 50%;   
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

/* Styling the heading */
.content .TextBox{
    position: relative;
    max-width: 700px;
}

.content .TextBox h2{
    color: #333;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: bold;
    
}

/* Styling 'Artos' */
.content .TextBox h2 span{
    font-size: 2.5rem;
    position: relative;
    color: #050229;
    font-family: 'Courier Prime', monospace;
    position: relative;
    width: max-content;
  }

/* Typing animation stying */
.content .TextBox h2 span::before,
.content .TextBox h2 span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.content .TextBox h2 span::before{ 
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterChars)) 1s forwards;
}

.content .TextBox h2 span::after{
    width: 0.125em;
    background: #050229;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterChars)) 1s forwards, blink 500ms steps(var(--typewriterChars)) infinite;
}

@keyframes typewriter {
    to {
        left:105%;
        opacity: 0;
    }
}

@keyframes blink {
    to {
      background: transparent;
    }
  }


/* Styling the message */
.content .TextBox p{
    color: #333;
    font-size: 1.2rem;
}

/* Styling the Download Buttons */
.download-button{
    margin-top: 3rem;
}

/* Styling the image */
.content .imgBox img{
    margin-right: -2.25rem;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

/* Styling the circle */
.circle{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #050229;
    clip-path: circle(750px at right 1000px);
}

/* Features */

#features{
    background-color: white;
    position: relative;
    text-align: center;
}
.feature-box{
    padding: 4.5%;
    background-color: #fff;
}

.features-title{
    font-size: 1.4rem;
    margin-top: 1.25rem;
}

p{
    color: lightslategrey;
}

.icon{
    color: #040229;
    margin-bottom: 1.5rem;
}

.icon:hover{
    color: #162252;
}