/* color == 050229 */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
    --typewriterSpeed: 1s;
    --typewriterChars: 5;
    --bg-color: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.container-fluid{
    padding: 3% 5%;
}

/* Styling the Navbar */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
    border-radius: 50%;   
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

/* Styling the heading */
.content .TextBox{
    position: relative;
    max-width: 700px;
}

.content .TextBox h2{
    color: #333;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: bold; 
}

/* Styling 'Artos' */
.content .TextBox h2 span{
    font-size: 2.5rem;
    position: relative;
    color: #050229;
    font-family: 'Courier Prime', monospace;
    position: relative;
    width: max-content;
  }

/* Typing animation stying */
.content .TextBox h2 span::before,
.content .TextBox h2 span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.content .TextBox h2 span::before{ 
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterChars)) 1s forwards;
}

.content .TextBox h2 span::after{
    width: 0.125em;
    background: #050229;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterChars)) 1s forwards, blink 500ms steps(var(--typewriterChars)) infinite;
}

@keyframes typewriter {
    to {
        left:105%;
        opacity: 0;
    }
}

@keyframes blink {
    to {
      background: transparent;
    }
  }


/* Styling the message */
.content .TextBox p{
    color: #333;
    font-size: 1.2rem;
}

/* Styling the Download Buttons */
.download-button{
    margin-top: 3rem;
}

/* Styling the image */
.content .imgBox img{
    margin-right: -2.25rem;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

/* Styling the circle */
.circle{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #050229;
    clip-path: circle(750px at right 1000px);
}

@media(max-width: 1000px)
{
    header{
        padding: 20px;
    }

    header .logo {
        max-width: 80px;
        border-radius: 50%;
    }

    header ul {
        display: none;
    }

    section{
        padding: 20px;
    }

    .content{
        flex-direction: column;
        margin-top: 100px;
    }

    .content .TextBox h2{
        color: #333;
        font-size: 1.5em;
    }

    .content .TextBox h2 span{
        font-size: 1.25em;
    }

    
}


/* Features */

#features{
    background-color: white;
    position: relative;
    text-align: center;
}
.feature-box{
    padding: 4.5%;
    background-color: #fff;
}

.features-title{
    font-size: 1.4rem;
    margin-top: 1.25rem;
}

p{
    color: lightslategrey;
}

.icon{
    color: #040229;
    margin-bottom: 1.5rem;
}

.icon:hover{
    color: #162252;
}

/* Testimonials */

.hero{
    background: #050229;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero h1{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    color: #fff;
}

.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}

.user-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.user-img img{
    height: 100%;
    border-radius: 50px;
}

.user-text{
    background: #2d3a59;
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

.user-text p{
    font-size: 18px;
    line-height: 24px;
}

.user-text h3{
    margin: 35px 0;
    color: #fff;
}

.testimonial-container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50%;
}

.test-button{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.active{
    width: 45px;
}

.testimonial{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* .testimonial-image{
    width: 30%;
    border-radius: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.carousel-item{
    height: 32rem;
    background-color: #c6c5d6;
    color: white;
    position: relative;
    background-image: center;
    background-size: cover;
    text-align: center;
}

.carousel-item p{
    color: white;
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
} */

/* Call To Action */
#cta{
    background-color: white;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* padding: 5% 7%; */
    color: #fff;
}

.cta-text{
    color:  #040229;
    margin: auto;
}

/* FAQs */
.faq-container-fluid{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.faq-container-fluid h2{
    color: #040229;
    position: relative;
    width: 23rem;
}

.faq-container-fluid h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 65px;
    height: 2px;
}

.accordian{
    width: 100%;
    padding: 0 5px;
    border: 2px solid #6db5ff;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.accordian .icons{
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background: url(images/toggle.png) no-repeat 8px 7px;
    border-radius: 50%;
    float: left;
    transition:all .5s ease-in ;
}

.accordian h5{
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
}

.panel{
    padding: 0 15px;
    border-left: 1px solid;
    margin-left:  25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .5s ease-in;
}

/* .faq{
    text-align: center;
    color: white;
    background-color: #050229;
}

section .container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordian-item{
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, 0.1);
}

.accordian-link{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;                     
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordian-link i{
    color: #e7d5ff;
    padding: .5rem;
} */

/* .accordian-link .remove{
    display: none;
}

.answer{
    overflow: hidden;       
    position: relative;
    background-color: #212838;
} */

/* .answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    color:rgba(255, 255, 255, .6);
    font-size: 1.4rem;
    padding: 2rem;
} */

/* Footer */
#footer{
    background-color: #040229;;
    margin:auto;
    padding: 7% 5%;
    text-align: center;
}

.footer-icon{
    margin: 1.75rem;
}